*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #373f68;
}
